@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-variable {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.gradient-border {
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


.text-stroke-black {
  -webkit-text-stroke: 2px theme("colors.black.DEFAULT");
}

.text-stroke-blue {
  -webkit-text-stroke: 2px theme("colors.blue.DEFAULT");
}

.text-stroke-white {
  -webkit-text-stroke: 1px theme("colors.white.DEFAULT");
}

.text-stroke-dark-gray {
  -webkit-text-stroke: 1px theme("colors.gray.dark");
}

.text-stroke-none {
  -webkit-text-stroke: 0;
}